<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1008929485587-p89d68e4rqtk0v224hf3b5j5vj8vckl3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1008929485587-p89d68e4rqtk0v224hf3b5j5vj8vckl3</string>
	<key>API_KEY</key>
	<string>AIzaSyD9iuQPqNDDZslRRG73oahlf7MjCXe8P5M</string>
	<key>GCM_SENDER_ID</key>
	<string>1008929485587</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ums</string>
	<key>PROJECT_ID</key>
	<string>my-seu</string>
	<key>STORAGE_BUCKET</key>
	<string>my-seu.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1008929485587:ios:9fcfefa3905cfc7b2420e6</string>
</dict>
</plist>